<div class="event">
  <div class="att">Name: <%= @event.name %></div>
  <div class="att">Description: <%= @event.description %></div>
  <div class="att">Date: <%= @event.date %></div>
</div>
<%=link_to "Home", root_path %>